
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(0, 85, 52) !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img style="color: white; width: 70%; height: 70%;" src="https://res.cloudinary.com/dodie1q2w/image/upload/v1694766823/7173014341636956259_sc3avx.svg" alt="Logo"></img></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                <a class="nav-link" href="/men" style="color:white; font-size: 20px;">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/women" style="color:white; font-size: 20px;">Women</a>
              </li>
               <li class="nav-item">
               <a class="nav-link show-cart-items" data-bs-toggle="modal" data-bs-target="#cartModal" style="font-size: 20px;"><i class="fa fa-shopping-cart" aria-hidden="true" style='color: white;'>Cart</i></a>
               </li>
               <li class="nav-item">
                <a class="nav-link check-out-page" href="/checkout-page" style='color: white;'><i class="fa-solid fa-cash-register"></i> Check Out</a>
                </li>
               
          <li class="nav-item">
            <a class="nav-link" href="/allproducts" style='color: white;' style="font-size: 20px;"><i class="fa-solid fa-magnifying-glass" style="font-size: 20px;"></i> Search All Products</a> 
            </li>
          
                <li class="nav-item">
                  <a class="nav-link" href="/contact-us" style='color: white;'><i class="fa-regular fa-envelope"></i>Contact Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about-us" style='color: white;'><i class="fa-regular fa-handshake"></i>About Us</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link faq-page" href="/faq" style='color: white;'><i class="fa-solid fa-circle-question"></i> FAQ</a>
                      </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-size: 20px;">
                  More Options
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/men-watches-and-jewelry">Men Watches & Jewelry</a></li>
                  <li><a class="dropdown-item" href="/women-watches-and-jewelry">Women Watches & Jewelry</a></li>
                  <li><a class="dropdown-item" href="/men-clothing">Men Clothing</a></li>
                  <li><a class="dropdown-item" href="/women-clothing">Women Clothing</a></li>
                  <li><a class="dropdown-item" href="/men-shoes">Men Shoes</a></li>
                  <li><a class="dropdown-item" href="/women-shoes">Women Shoes</a></li>
                  <li><a class="dropdown-item" href="/men-bags">Men Bags</a></li>
                  <li><a class="dropdown-item" href="/women-bags">Women Bags</a></li>
                  <li><a class="dropdown-item" href="/men-sunglasses">Men Sunglasses</a></li>
                  <li><a class="dropdown-item" href="/women-sunglasses">Women Sunglasses</a></li>
                  <li><a class="dropdown-item" href="/blogs">Fashion Blog</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
             
            </ul>
           
          </div>
        </div>
      </nav>
    